{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite, ?uglifycss'
    'bundles/dreamlexticket/css/ticket.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='?uglifyjs2'

    '@DreamlexTicketBundle/Resources/public/ts/ticket.ts' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock javascripts %}