<a href="{{ admin.generateObjectUrl('dreamlex_ticket.admin.message.list',object) }}" class="btn btn-sm btn-default"
   title="{{ 'ticket_messages'|trans({}, 'admin') }}">
    <i class="fa fa-list"></i>
    {{ 'ticket_messages'|trans({}, 'admin') }}
</a>