<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#<meta name="description" content="">#}
    {#<meta name="author" content="">#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>


</head>
<body>

<div class="container">
    {% block body %}{% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">&#169; Copyright
            Sell-MMO {{ 'now'|date('Y') ~ ('now'|date('Y') > 2016 ? ' - ' ~ 'now'|date('Y')) }}
            - All Rights reserved</p>
    </div>
</footer>